@import 'bootstrap/dist/css/bootstrap.css';

body {
  background-color: black;
}

.profile-img {
  border-radius: 50%;
  width: 30px;
}

#orderBookContainer {
  display: flex;
  flex-direction: row;
}
